:root{
    --text-color: hsl(0, 0%, 96%);
    --backgound-color: hsl(0, 0%, 5%);
    --third-color: rgb(37, 246, 225)
}
body{
    background-color: rgb(37, 37, 37);
}
h1{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-family: "Noto Kufi Arabic";
    font-size: 50px;
    font-weight: bold;
    color: var(--text-color);
    border-top-left-radius: 2px solid rgb(32, 206, 188);
}     
a{
    display: flex;
    justify-content: center;
/*    box-shadow: red;*/
}
.ahref :hover{
    cursor: pointer;
    box-shadow: 0px 0px 40px hsla(0, 0%, 100%, 0.393); 
    border: 2px solid  var(--third-color);
}
button{
 /*   align-items: center;      */
    margin-bottom: 20px;
    font-family: "Noto Kufi Arabic";  
    font-size: 15px;
    font-weight: bold;
    background-color: hsl(0, 0%, 90%); 
    color: var(--backgound-color); 
    text-decoration: none;
    border-radius: 20px; 
    border: 2px solid var(--third-color); 
    width: 300px; 
    height: 50px; 
    box-shadow: 0px 0px 30px hsla(0, 0%, 100%, 0.196); 
}
