body{
    margin: 100px;
    background-color: hsl(0, 0%, 05%);
    transition: background-color 0.5s ease;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 95%);
}
button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 35px hsla(0, 0%, 0%, 0.37);
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}
#div-button :hover{
    background-color: rgb(212, 231, 255);
}
#home{
    position: absolute;
    top: 600px;
    left: 740px;
    color: rgb(232, 151, 0);
    text-decoration: none;
}
.img{
    display: flex;
    justify-content: center;
}
.sun-image, .moon-image {
    display: flex;
    justify-content: center;
    width: 100px;
    height: auto;
}
#moon{
    margin-top: 50px;
    margin-left: 615px;
    margin-bottom: 60px;
}
.sun-image{
    display: none;
}

.sun-background{
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 5%);
}
.moon-background {
    background-color: hsl(0, 0%, 5%);
    color: hsl(0, 0%, 95%);
}