
body{
	background-color: rgb(37, 37, 37);
	margin: 100px;
}

h1{
	font-family: "Noto Kufi Arabic";
	font-size: 30px;
	font-weight: bold;
	color: hsl(0, 0%, 96%);
}

p{
	font-family: "Noto Kufi Arabic";
	font-size: 15px;
	font-weight: bold;
	color: hsl(0, 0%, 96%);
}

#home{
	display: inline;
	text-align: left;
}

#start{
	font-family: "Noto Kufi Arabic";
}

a{
	font-family: "Noto Kufi Arabic";
	font-size: 15px;
	font-weight: bold;
	color: rgb(37, 246, 225);
}