
body{
	
	background-color:#ebebeb;
	margin: 100px;
}

h1{
	font-family: "Noto Kufi Arabic";
	font-size: 30px;
	font-weight: bold;
}

p{
	font-family: "Noto Kufi Arabic";
	font-size: 15px;
	font-weight: bold;
}

#home{
	display: inline;
	text-align: left;
}

#start{
	font-family: "Noto Kufi Arabic";
}

a{
	font-family: "Noto Kufi Arabic";
	font-size: 15px;
	font-weight: bold;
}